openapiOptions:
  # grpc.gateway.protoc_gen_openapiv2.options.Swagger
  # 对应 swagger 属性，一般不做更改
  file:
    - file: "api/mingqing/xdserver/v1/microservice.proto"
      option:
        swagger: "2.0"
        info:
          title: "mingqing-xdserver-v1"
          contact:
            name: "xdserver.v1.mingqing"
            url: "http://xdserver.v1.mingqing.api.grpc-kit.com"
          license:
            name: "Apache License 2.0"
            url: "https://github.com/grpc-kit/cli/blob/main/LICENSE"
          version: "0.1.0"
        host: "xdserver.v1.mingqing.api.grpc-kit.com"
        base_path: "/"
        schemes:
          - "HTTP"
        consumes:
          - "application/json"
        produces:
          - "application/json"
        securityDefinitions:
          security:
            BasicAuth:
              type: "TYPE_BASIC"
            ApiKeyAuth:
              type: "TYPE_API_KEY"
              in: "IN_HEADER"
              name: "Authorization: Bearer <token>"
        security:
          - securityRequirement:
              BasicAuth: {}
          - securityRequirement:
              ApiKeyAuth: {}
        responses:
          "4xx":
            description: "客户端参数异常"
            schema:
              jsonSchema:
                ref: ".grpc_kit.api.known.status.v1.ErrorResponse"
          "5xx":
            description: "服务端处理异常"
            schema:
              jsonSchema:
                ref: ".grpc_kit.api.known.status.v1.ErrorResponse"
        external_docs:
          description: 'Code generated by "grpc-kit-cli/0.3.5"'
          url: "https://grpc-kit.com"

  # grpc.gateway.protoc_gen_openapiv2.options.Operation
  # 对应 proto 中 service 的 rpc
  method:
    - method: default.api.mingqing.xdserver.v1.MingqingXdserver.HealthCheck
      option:
        tags:
          - "internal"
        description: '请务删除！\n 接口格式：/api/healthz?service=xdserver.v1.mingqing\n 请求成功访问状态码200，且内容为：{"status": "SERVING"}'
        summary: "健康检测"
        responses:
          "200":
            examples:
              "application/json": '{"value": "the input value"}'

    - method: default.api.mingqing.xdserver.v1.MingqingXdserver.Demo
      option:
        tags:
          - "demo"
        description: "这里做一些较长的使用描述\n 1. POST 用于创建资源，非幂等\n 2. GET 用于获取资源，幂等\n 3. PUT 用于更新资源，幂等\n 4. DELETE 用于删除资源，幂等"
        summary: "示例 RESTful/RPC 接口"
        responses:
          "204":
            examples:
              "application/json": '{}'

  # grpc.gateway.protoc_gen_openapiv2.options.Schema
  # 对应 proto 的 message
  message:
    - message: default.api.mingqing.xdserver.v1.DemoRequest
      option:
        # 请求示例
        example: '{ "ping": { "name": "grpc-kit" } }'
        jsonSchema:
          # 必填字段
          required:
            - "ping"
          # 对结构体更详细的描述
          description: "结构体其他更详细的描述"
    - message: default.api.mingqing.xdserver.v1.DemoResponse
      option:
        example: '{"uuid":"99feafb5-bed6-4daf-927a-69a2ab80c485", "pong": { "name": "grpc-kit" } }'

  # grpc.gateway.protoc_gen_openapiv2.options.JSONSchema
  # 对应 proto 的 message 下各属性
  field:
    - field: default.api.mingqing.xdserver.v1.DemoRequest.uuid
      option:
        # 字段均不做 description 注解，在定义 proto 属性时添加
        # description: "请求的 ping 属性"
        default: "99feafb5-bed6-4daf-927a-69a2ab80c485"
